<form  *ngIf="createProductReturnalForm"  [formGroup]="createProductReturnalForm" (submit)="submit()">
    <mat-card class="mat-elevation-z8">
        <mat-card-header>
            <mat-card-title>Return the product</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="formContainer">
                <!-- Paid amount -->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label> Paid amount </mat-label>
                    <input type='number' matInput formControlName="paidAmount" required>
                    <mat-error
                        *ngIf="createProductReturnalForm.controls['paidAmount'].touched && createProductReturnalForm.controls['paidAmount'].invalid">
                        <span *ngIf="createProductReturnalForm.controls['paidAmount'].errors!['required']">This field is
                            mandatory.</span>
                    </mat-error>
                </mat-form-field>

                <!-- Currency used -->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Currency used</mat-label>
                    <mat-select formControlName="paidInCurrency" required>
                        <mat-option *ngFor="let currency of currencies" [value]="currency.key">{{ currency.value }}</mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="createProductReturnalForm.controls['paidInCurrency'].touched && createProductReturnalForm.controls['paidInCurrency'].invalid">
                        <span *ngIf="createProductReturnalForm.controls['paidInCurrency'].errors!['required']">This field is
                            mandatory.</span>
                    </mat-error>
                </mat-form-field>

            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Save</button>
        </mat-card-actions>
    </mat-card>

</form>
